- var className = 'friend-card friend-card-static';
- if (friends) {className = 'friend-card-static';}
div(class=className)
  img(src=photo, alt='photo not found')
  .friend-info
    p #{name}
    if compatibility
      p #{compatibility}% compatibility!
      a#friends-link(href='/allfriends') View all friends!
    else
      ul
        each val, i in scores
          li Question#{i + 1}: #{val}
