extends layout

block content
  section
    form#survey
      ul#survey-ul
        each q, i in questions
          li.q-list
            p.q-test #{i + 1}. #{q}
            div.radio-div
              each val in [1,2,3,4,5]
                label.radio-label(for= i + 1 + '-' + val) #{val}.
                input.radio-button(
                  class='rb-' + (i + 1)
                  name=i+1
                  type='radio'
                  id=i + 1 + '-' + val
                  value=val
                )
      input.submit(type='submit')